#bumper {
  height: 50px;
}

.feed {
  margin-left: 1.6rem;
  margin-right: 1rem;
}

.time-line {
  height: 2px;
  background-color: #e0672a;
}

.feed > .columns {
  margin-left: 0px;
}

.column.feed-line {
  padding: 0px;
  padding: 0px;
  margin-left: 12px;
}

.line-item {
  border-left: 2px solid #e0672a;
}

.column.line-item {
  padding: 0;
  width: 12px;
  height: 100%;
  position: fixed;
  margin-left: 12px;
}

.columns.feed-item {
  margin-right: inherit;
}

.feed-item:nth-child(odd) > .feed-line {
  max-width: 200px;
}

.feed-item:nth-child(even) > .feed-line {
  max-width: 100px;
}

.feed-video {
  max-width: 730px;
  min-height: 200px;
  padding-bottom: 40px;
}

.caption {
  width: 400px;
}

.created {
  margin-left: 10px;
}

#loader {
  width: 50vh;
  position: fixed;
  bottom: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .feed-video {
    max-width: 500px;
    min-width: inherit;
    margin: auto;
  }
  .video {
    width: 430px;
  }
  .feed {
    margin: auto;
  }
  .feed-item {
    margin: auto;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .video {
    max-width: 500px;
  }
}
