#logo {
  max-height: 55px;
  margin-bottom: -10px;
}

#videoIcon {
  margin-right: 10px;
  font-size: 1em;
}

.button-text {
  font-weight: bold;
}

#burger {
  background: inherit;
  margin-top: 10px;
  margin-right: 5px;
}

.navbar-item {
  height: 54px;
}
